<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href='/css/styles.css'>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>Built based on online traning course offered by Andrew Mead in Udemy.com. This site uses mapbox.com to fetch
            Goecode and darksky.net to fetch weather data</p>
    </div>

    {{>footer}}
</body>

</html>